<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dataMall.orderCenter.mapper.UserOrderGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dataMall.orderCenter.entity.UserOrderGoods">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="goods_snapshot_id" property="goodsSnapshotId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="state" property="state"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, goods_snapshot_id, create_time, update_time, state
    </sql>

</mapper>
