<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.datamall.mapper.XlsxApiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dataMall.goodsCenter.entity.XlsxApi">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="api_id" property="apiId" />
        <result column="account_id" property="accountId" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, api_id, account_id, created_time, updated_time, state
    </sql>

</mapper>
