<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dataMall.userCenter.mapper.AccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dataMall.userCenter.entity.Account">
        <id column="id" property="id" />
        <result column="user_name" property="username" />
        <result column="pass_word" property="password" />
        <result column="email" property="email" />
        <result column="token" property="token" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_name, pass_word, email, token, state, role, create_time, update_time
    </sql>

</mapper>
